{% load static %}

<html>

    {% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
            <div class="post">
                <div class="date">
                    {{ post.published_date }}
                </div>
                <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    {% endblock %}

        <div>
            <h3>Termotanques solares, paneles con energia fotovoltaica y todo lo que necesitas!! </h3>            
        </div>

        <div>
            <h4>
                <strong>Ahorras el 85% de tus facturas de luz y gas!!</strong>
            </h4>
        </div>
        <div>
            <p>
                La energia solar es gratis, utilice sus bondades, no emite gases a la atmosfera, <br>
                es confiable, segura, eficiente, la solucion definitiva a todo tipo de riesgos por contaminacion.
            </p>
        </div>
        <div>
            <p>
                Atencion personalizada, descuentos a jubilados. <br>
                DESCUENTOS POR CANTIDAD (AGRUPATE CON AMIGOS)
            </p>
        </div>
    </body>
</html>