<html>
    <head>
        <title>PerCon Energias Renovables</title>
    </head>
    <body>
        <div>
            <h1><a href = "/">PerCon Energias Renovables</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p> publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <p>Termotanques solares  <br>
                Paneles con energia fotovoltaica <br>
                Y todo lo que necesitas!!
            </p>            
        </div>
        <div>
            <p>
                <strong>Ahorras el 85% de tus facturas de luz y gas!!</strong>
            </p>
        </div>
        <div>
            <p>
                La energia solar es gratis, utilice sus bondades, no emite gases a la atmosfera, <br>
                es confiable, segura, eficiente, la solucion definitiva a todo tipo de riesgos por contaminacion.
            </p>
        </div>
        <div>
            <p>
                Atencion personalizada, descuentos a jubilados. <br>
                DESCUENTOS POR CANTIDAD (AGRUPATE CON AMIGOS)
            </p>
        </div>
    </body>
</html>