{% load static %}

<html>
    <head>
        <title>PerCon Energias Renovables</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div  class="page-header">
            <h1><a href = "/">PerCon Energias Renovables</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>publicado: {{ post.published_date }}</p>
                            </div>
                            <h2><a href="">{{ post.title }}</a></h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
            <h3>Termotanques solares, paneles con energia fotovoltaica y todo lo que necesitas!! </h3>            
        </div>

        <div>
            <h4>
                <strong>Ahorras el 85% de tus facturas de luz y gas!!</strong>
            </h4>
        </div>
        <div>
            <p>
                La energia solar es gratis, utilice sus bondades, no emite gases a la atmosfera, <br>
                es confiable, segura, eficiente, la solucion definitiva a todo tipo de riesgos por contaminacion.
            </p>
        </div>
        <div>
            <p>
                Atencion personalizada, descuentos a jubilados. <br>
                DESCUENTOS POR CANTIDAD (AGRUPATE CON AMIGOS)
            </p>
        </div>
    </body>
</html>